.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vscode/
/Package.resolved
/Benchmarks/.benchmarkBaselines/

# ordo-one/benchmark writes baselines here when run from the package root.
/.benchmarkBaselines/
